.header {
  .welcome{
    float: left;
    margin-left: 10px;
  }
  .logout{
    float: right;
    margin: 31px 10px 0 0;
  }
}

.home{
  .wrapper{
    width: 100%;
    background-color: white;
    margin: 0 auto;
    @media(min-width: $screen-md-min){
      width: 992px;
    }
  }
  .container{
    width: 100%;
    @media (min-width: $screen-md-min) {
      width: $container-md;
    }
  }

  .panel{
    border: none;
    margin-top: 10px;
    -webkit-box-shadow: 0px 2px 2px 4px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 2px 2px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 2px 2px 4px rgba(0,0,0,0.05);

    .panel-body{
      min-height: 400px;
      height: 400px;
      overflow: auto;

      .message-list{
        margin: 0;
        padding: 0;
      }
    }

    .panel-footer{
      padding: 7px 0 0 1px;

      .chat-input{
        border: 0;
        width: 86%;
        height: 45px;
        resize: none;
        border-bottom-left-radius: 3px;
        float: left;
      }

      .send-message{
        float: right;
        margin-right: 4px;

        &:focus{
          outline: none;
          border: 0 none;
          background-color: $brand-primary;
        }
      }
    }

  }
}

.talk-bubble {
  margin: 15px 10px;
  display: inline-block;
  position: relative;
  clear: both;
  max-width: 300px;
  height: auto;
  background-color: $message-bubble-bg;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;

}
.tri-right.right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -20px;
  top: 15px;
  bottom: auto;
  border: 12px solid;
  border-color: transparent transparent $message-bubble-bg $message-bubble-bg;
}

.tri-right.left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: auto;
  left: -20px;
  top: 15px;
  bottom: auto;
  border: 12px solid;
  border-color: transparent $message-bubble-bg $message-bubble-bg  transparent;
}

/* talk bubble contents */
.talktext{
  padding: 10px 22px;
  text-align: left;
  line-height: 1.3em;

  p{
    color: #2b2b2b;
  }
}